[package]
name = "gpui-manos-webview-macros"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
syn = { version = "1.0", features = ["full", "extra-traits"] }
quote = "1.0"
serde = { version = "1.0", optional = true }
http.workspace = true
